<html>
<head>
	<script src= "http://code.jquery.com/jquery-2.1.1.js"> </script>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
		<div class="topnav">
	<h1><font color="white">BEST LAPTOP DUDE</font></h1>
 
			<a class="navbar-brand" href="/">Home</a>
				<a href="/admin-login/">Admin Login</a>
		
   <div class="topnav-right">
    <a class="navbar-brand" href="/cart/">Cart <b>({{cart_size}} items)</b></a>
			<a href = "/cart/checkout"> Checkout!</a>
  </div>  </div>
  
	<style type = "text/css">
	
	.centerdv
	{
			width: 45%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
	}
	.formdiv
	{
		width: 50%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 40px;
}
h1 {text-align:center;}
	</style>
	<div class = "container well centerdv">
		<h3> Login </h3>
		<br>
		<form method = "post">
			{% csrf_token %}
			{% if login == False %}
			<div class="alert alert-danger" role="alert">Bad Login</div>
			{% endif %}
			<b> Username: </b>
			<br>
			<input type = "text" name = "username" class = "form-control">
			<br>
			<b> Password: </b>
			<br>
			<input type = "password" name = "password" class = "form-control">
			<br>
			<input type = "submit" value = "Login!" class = "btn btn-success btn-lg">
		</form>
	</div>
</body>
</html>