<html>
<head>
	<script src= "http://code.jquery.com/jquery-2.1.1.js"> </script>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
		<div class="topnav">
	<h1><font color="white">BEST LAPTOP DUDE</font></h1>
 
			<a class="navbar-brand" href="/">Home</a>
				<a href="/admin-login/">Admin Login</a>
		
   <div class="topnav-right">
    <a class="navbar-brand" href="/cart/">Cart <b>({{cart_size}} items)</b></a>
			<a href = "/cart/checkout"> Checkout!</a>
  </div>  </div>
  
	<style type = "text/css">
	.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}

h1 {text-align:center;}
	.centerdv
	{
			width: 45%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
	}
	.formdiv
	{
		width: 50%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	</style>
	<h3 style = "text-align:center">Orders:</h3>
	<div class = "container centerdv">
		{% for order in orders %}
		<div class ="well">
			<b>Name:</b>
			<br>
			{{order.first_name}} {{order.last_name}}
			<br>
			<b> Address:</b>
			<br>
			{{order.address}} {{order.city}}
			<br>
			<b> Payment Info</b>
			<br>
			{{order.payment_method}} {{order.payment_data}}
			<br>
			<b> Items: </b>
			<br>
				{{order.items}}
			<br>
			<b> Fulfilled </b>
				{{order.fulfilled}}
			</div>
		{% endfor %}
	</div>
</body>
</html>