<html>
	{% load static %}
<head>
	<script src= "http://code.jquery.com/jquery-2.1.1.js"> </script>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
		<div class="topnav">
	<h1><font color="white">BEST LAPTOP DUDE</font></h1>
 
			<a class="navbar-brand" href="/">Home</a>
				<a href="/admin-login/">Admin Login</a>
		
   <div class="topnav-right">
    <a class="navbar-brand" href="/cart/">Cart <b>({{cart_size}} items)</b></a>
			<a href = "/cart/checkout"> Checkout!</a>
  </div>  </div>
	<style type = "text/css">
	.arey
{
  display:inline-block;
  vertical-align: middle;
  overflow: hidden;
  padding-left: 10px;
  padding-bottom: 10px;
}
.zzz{
	float: left;
}
.tex
{
	float: left;
	padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block; 
}

	.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */
	body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}
h1 {text-align:center;}
	.centerdv
	{
			width: 45%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			color:#333
	}
	.imgscal
	{
		max-width:64;
		max-height:64;

	}
/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
.text {
  
  background-color: #4CAF50;
  color: white;
  font-size: 10px;
  padding: 10px 20px;
}
.text1 {
  float: left;
  background-color: #4CAF50;
  color: white;
  font-size: 10px;
  padding: 10px 20px;
}
.selected{color:red; font-weight: bold;}
    .go{background-color: green; color: #fff;}

table {
  border-collapse: collapse;
  width: 80%;
}

th {
	background-color: #3a6070;
    color: #fff;
	padding: 10px;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}
.chat {
    width: 400px;
}

.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.me {
    float: left;   
    margin: 5px 45px 5px 20px;         
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;           
}

.you {
    float: right;    
    margin: 5px 140px 5px 45px;         
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;    
}


/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input field */
.form-container input[type=text]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: blue;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

	</style>
	<button class="tablink" onclick="openPage('Home', this, 'grey')"  id="defaultOpen">Sonali</button>
<button class="tablink" onclick="openPage('News', this, 'grey')">Jayaram</button>
<button class="tablink" onclick="openPage('Contact', this, 'grey')">Vijju</button>

<div id="Home" class="tabcontent">
  <h3>Sonali</h3>
<div class = "container centerdv well ">
			<div>
			  		<h3>Total Price: <br> <br><span class="label label-success">{{total_price}}</span></h3>
			</div>
			<br>
			{% for item in cart_items%}

			<div class="media">
			<a class="pull-left" href="#">
			    <img class="media-object imgscal" src="/media/{{item.imglink}}" alt="..."/>
			  </a>
			  <div class="media-body">
			    <h4 class="media-heading">{{item.name}}</h4>
			    {{item.description}}
			    <span class="badge pull-right">{{item.price}}</span>
			  </div>
			  <form method = "post" action = "remove/">
			  	{% csrf_token %}
			  	<input type="hidden" name="obj_id" value={{item.id}} />
			  <input type="submit" value = "Remove" class = "btn btn-danger pull-right">
			</form>
			</div>
			{% endfor %}	
			<button class = "btn btn-primary btn-lg" onclick = "window.location = '/cart/checkout';">Checkout</button>
	</div>
	<p align="center" >
    <button class="text" onclick=myFunction() >HELP ME CHOOSE</div>
	</p>
	<script>
		function myFunction() {
  var x = document.getElementById("xxx");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
		}
  function myFunction2(){ 
   var y = document.getElementById("yyy");
  if (y.style.display === "none") {
    y.style.display = "block";
  } else {
    y.style.display = "none";
  }
}
function myFunction3(){ 
   var y = document.getElementById("zzz");
  if (y.style.display === "none") {
    y.style.display = "block";
  } else {
    y.style.display = "none";
  }
}
$(window).load(function () {
    $(".trigger_popup_fricc").click(function(){
       $('.hover_bkgr_fricc').show();
    });
    $('.hover_bkgr_fricc').click(function(){
        $('.hover_bkgr_fricc').hide();
    });
    $('.popupCloseButton').click(function(){
        $('.hover_bkgr_fricc').hide();
    });
});
	</script>
	<br><br><br>

		

<div id="xxx" style="display:none;">
	<div class="arey ">
	<button class="text1" onclick=myFunction3() >choice of AI</button>
			<div id="zzz" style="display:none;">
			<div class="tex"> <input type="text"  value="Dell" readonly><br>
			
			</div>    
<a class="trigger_popup_fricc">Click here to know more</a>	
			
</div>
 
<div class="hover_bkgr_fricc">
    <span class="helper"></span>
    <div>
        <div class="popupCloseButton">X</div>
		<img src="{% static 'images/ssss.jpg' %}"  style="max-width:350px">
		<h3>This laptop has very good processor and the RAM of 16GB is useful for you storage of this hard disc is 2TB which isvery useful even though display is quite normal </h3>
    </div>
</div>
</div>
<br>
	<table id="table"  align="center" >
  <tr>
    <th>FEATURES</th>
    <th>Dell Inspiron</th>
    <th>HP 250 G6</th>
  </tr>
  <tr>
    <td>Price</td>
    <td>35300</td>
    <td>44899</td>
  </tr>
  <tr>
    <td>Battery</td>
    <td>3000</td>
    <td>2700</td>
  </tr>
  <tr>
    <td>Ram(GB)</td>
    <td>8</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Memory(TB)</td>
    <td>1 </td>
    <td>1 </td>
  </tr>
  <tr>
    <td>Warranty(yrs)</td>
    <td>5</td>
    <td>3</td>
  </tr>
  <tr>
    <td>Rating</td>
    <td>4.6</td>
    <td>4.3</td>
  </tr>
</table>
<br><br>

<p align="center" >
<button onclick="upNdown('up');">&ShortUpArrow;</button>
<button onclick="upNdown('down');">&ShortDownArrow;</button>
<button class="go" onclick=myFunction2()>Go</button>
</p>
</div>
<h1 id="yyy" align="center" style="display:none;">LAPTOP 1</h1>
</div>
<script>
    var index;
    function getSelectedRow()
    {
        var table = document.getElementById("table");
        for(var i=1;i<table.rows.length;i++)
        {
            table.rows[i].onclick=function()
            {
                if(typeof index !== "undefined")
                {
                    table.rows[index].classList.toggle("selected");
                }
                index=this.rowIndex;
                this.classList.toggle("selected");
            }
        }


    }getSelectedRow();

    function upNdown(direction)
    {
        var rows = document.getElementById("table").rows,
        parent=rows[index].parentNode;
        if(direction=="up")
        {
            if(index >1)
            {
            parent.insertBefore(rows[index],rows[index-1]);
            index--;
            }
        }
        if(direction=="down")
        {
            if(index < rows.length-1)
            {
            parent.insertBefore(rows[index+1],rows[index]);
            index++;
            }
        }
    }
</script>
</div>

<div id="News" class="tabcontent">
  <h3>Jayaram</h3>
   
</div>

<div id="Contact" class="tabcontent">
  <h3>Vijju</h3>
  
</div>

<script>
function openPage(pageName,elmnt,color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>



<button class="open-button" onclick="openForm()">CHAT</button>

<div class="form-popup" id="myForm">
 	<form action="/action_page.php" class="form-container">
    <div class="chat">
	<div class="bubble me">Hello there!</div>
	<div class="bubble you">Hi</div>
	<div class="bubble me">Awesome.</div>
	</div>

    <input type="text" placeholder="type message...">
    <button type="button" class="btn cancel" onclick="closeForm()">CHAT</button>
  </form>
</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>

	
</body>
</html>
