<html>
<head>
	<script src= "http://code.jquery.com/jquery-2.1.1.js"> </script>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" 
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
		
	<style type = "text/css">
	body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #eee;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 40px;
}
h1 {text-align:center;}
.centerdv
	{
		text-align: center;
	}
	
</style>

<body>
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<div id="main">
  


<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "200px";
  document.getElementById("main").style.marginLeft = "200px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
  var x = document.getElementById("myDIV");
   x.style.display = "block";
}

function myFunction() {
  var x = document.getElementById("myDIV");
    x.style.display = "none";
}

var interval;

    function mouseEntered() {
      interval = setInterval(mouseOver, 500)
    }

    function mouseOver() {
      element = document.getElementById("a")
      if (element.src.match("C:/Users/LENOVO/Desktop/51KrNNef9tL._AC_.jpg")) {
        document.getElementById("a").src = "C:/Users/LENOVO/Desktop/414wkoQ4wSL._AC_.jpg";
      } else if (element.src.match( "C:/Users/LENOVO/Desktop/414wkoQ4wSL._AC_.jpg")) {
        document.getElementById("a").src = "C:/Users/LENOVO/Desktop/41AmiMR9bAL._AC_.jpg";
      } else if (element.src.match( "C:/Users/LENOVO/Desktop/41AmiMR9bAL._AC_.jpg")){
        document.getElementById("a").src = "C:/Users/LENOVO/Desktop/51Ay-q3g6KL._AC_SL1125_.jpg";
      }
      else{
      document.getElementById("a").src = "C:/Users/LENOVO/Desktop/513mdssnTxL._AC_SL1404_.jpg";
      }
    }

    function mouseOut() {
      document.getElementById("a").src = "C:/Users/LENOVO/Desktop/51KrNNef9tL._AC_.jpg";
      if(interval)
       clearInterval(interval)
    }
</script>
	<div class="topnav">
	<h1><font color="white">BEST LAPTOP DUDE</font></h1>
 
			<a class="navbar-brand" href="/">Home</a>
				<a href="/admin-login/">Admin Login</a>
		
   <div class="topnav-right">
    <a class="navbar-brand" href="/cart/">Cart <b>({{cart_size}} items)</b></a>
			<a href = "/cart/checkout"> Checkout!</a>
  </div>  </div>
  

<div class="container body-content">
        
	<div class="row">
		{% for prod in store_items %}
	  <div class="col-md-4 centerdv well">
	  	<b>{{prod.name}}</b>
	  	<br>
	  	<p>{{prod.description}}</p>
	  	<img src="/media/{{prod.imglink}}" style="max-width:200px">
	  	<br>
	  	<span class="label label-primary">{{prod.price}}</span>
	  	<br>
	  	<br>
	  	<form method = "post">
	  		{% csrf_token %}
	  	<input type= "submit" value = "Add to Cart" class = "btn btn-success">
	  	<input type="hidden" name="obj_id" value={{prod.id}} />
	  </form>
	  	</div>
	  	{% endfor %}


	</div>
	</div>
</body>
</html>
